.weather-metric-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #243447; /* Card background color */
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

.weather-metric-icon {
    width: 40px;
    height: 40px;
}

.weather-metric-value {
    font-size: 20px;
    font-weight: bold;
}

.weather-metric-name {
    color: #b0b0b0; /* Lighter text color for the name */
}
  