.location-menu-button {
    background: #1e1e1e;
    z-index: 10; /* Keep above menu container */
    border: none;
    color: white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.location-menu-button:hover {
    transform: scale(1.1);
}

.location-menu-button.open {
    transform: rotate(90deg);
    border-color: #fff;
    border-style: solid;
    border-width: .1rem;
}

.location-menu-button-icon {
    font-size: 28px;
    line-height: 0;
}

.location-menu-button-icon.close {
    font-size: 36px;
} 